[Unit]
Description=Traefik Proxy

[Container]
Image=docker.io/library/traefik:v3
Network=proxy
PublishPort=80:80
PublishPort=443:443

Secret=porkbun_api_key,type=env,target=PORKBUN_API_KEY
Secret=porkbun_secret_key,type=env,target=PORKBUN_SECRET_API_KEY

Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

Volume=/home/malte/infra/traefik/acme.json:/acme.json:Z
Volume=/home/malte/infra/traefik/traefik.yml:/etc/traefik/traefik.yml:Z
Volume=/home/malte/infra/traefik/traefik.log:/var/log/traefik/traefik.log:Z
Volume=/home/malte/infra/traefik/access.log:/var/log/traefik/access.log:Z

Exec=--configfile=/etc/traefik/traefik.yml

Label=traefik.enable=true
Label=traefik.http.routers.traefik.rule=Host(`traefik.minipve-prod.home.lohrenz.me`)
Label=traefik.http.routers.traefik.entrypoints=websecure
Label=traefik.http.routers.traefik.tls.certresolver=porkbun
Label=traefik.http.routers.traefik.service=api@internal
Label=traefik.http.services.traefik.loadbalancer.server.port=8080

[Install]
WantedBy=default.target