[Unit]
Description=Vaultwarden App

[Container]
Image=docker.io/vaultwarden/server:latest
Network=proxy
Volume=/home/malte/infra/vaultwarden:/data:Z

Label=traefik.enable=true
Label=traefik.http.routers.vault.rule=Host(`vault.home.lohrenz.me`)
Label=traefik.http.routers.vault.entrypoints=websecure
Label=traefik.http.routers.vault.tls.certresolver=porkbun
Label=traefik.http.services.vault.loadbalancer.server.port=80